In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [47]:
!pip install nltk
nltk.download('punkt')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [48]:
import pandas as pd
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from bs4 import BeautifulSoup
import string
string.punctuation 
stop_words = stopwords.words('english')
# -*- coding: utf-8 -*-
punctuation = [ c for c in string.punctuation ] + [u'\u201c',u'\u201d',u'\u2018',u'\u2019']
import matplotlib.pyplot as plt
import re

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
df_08 = pd.read_csv('/content/drive/MyDrive/all_tweets_by_year/08_09_all_tweets.csv')

In [4]:
df_08.head()

,Unnamed: 0,Datetime,Tweet Id,Text
0,0,2009-07-27 23:12:12+00:00,2.879456e+09,Express aces http://bit.ly/EYVnw
1,1,2009-07-27 23:12:10+00:00,2.879455e+09,Why I decided to stay at Bridge http://bit.ly/...
2,2,2009-07-27 23:12:08+00:00,2.879455e+09,Sharks find their teeth http://bit.ly/q1u1P
3,3,2009-07-27 23:12:07+00:00,2.879454e+09,Cooke's pulls out of race http://bit.ly/LWnJz
4,4,2009-07-27 23:12:05+00:00,2.879454e+09,Tancock washes Peirsol away http://bit.ly/12BCMD

In [5]:
df = pd.read_csv('/content/drive/MyDrive/all_tweets_by_year/2013-14.csv')
df.head()

,Unnamed: 0,Datetime,Tweet Id,Text
0,0,2014-07-27 22:26:36+00:00,4.93523E+17,Couples are shunning traditional wedding gifts...
1,1,2014-07-27 22:14:59+00:00,4.9352E+17,You may be wasting your money on organic food ...
2,2,2014-07-27 22:00:13+00:00,4.93516E+17,We take a look at how seven celeb sex tapes sh...
3,3,2014-07-27 21:40:10+00:00,4.93511E+17,A man whose jaw was broken by a Domino‚Äôs dri...
4,4,2014-07-27 21:20:08+00:00,4.93506E+17,The Portuguese ex-cop being sued by the McCann...

In [6]:
import os
os.listdir('/content/drive/MyDrive/all_tweets_by_year')

['12_13_all_tweets',
 '08_09_all_tweets.csv',
 '09_10_all_tweets.csv',
 '10_11_all_tweets.csv',
 '11_12_all_tweets.csv',
 '21_22_all_tweets.csv',
 '12_13_skip3_tweets.csv',
 '19_20_all_tweets.csv',
 '13_14_all_tweets',
 '20_21_all_tweets.csv',
 '14_15_all_tweets.csv',
 '18_19_all_tweets.csv',
 '17_18_all_tweets',
 '2014-15.csv',
 '15_16_all_tweets.csv',
 '2017-18.csv',
 '2013-14.csv']

In [33]:
def read_csvs(list_files):
  list_csv = [file for file in list_files if file[-3:] == "csv"]
  print(list_csv)
  frames = []
  for csv in list_csv:
    frames.append(pd.read_csv(f'/content/drive/MyDrive/all_tweets_by_year/{csv}', engine='python'))
    print(f"added csv: {csv}")
  big_df = pd.concat(frames, ignore_index=True)
  return big_df

In [34]:
large_df = read_csvs(os.listdir('/content/drive/MyDrive/all_tweets_by_year'))

['08_09_all_tweets.csv', '09_10_all_tweets.csv', '10_11_all_tweets.csv', '11_12_all_tweets.csv', '21_22_all_tweets.csv', '12_13_skip3_tweets.csv', '19_20_all_tweets.csv', '20_21_all_tweets.csv', '14_15_all_tweets.csv', '18_19_all_tweets.csv', '2014-15.csv', '15_16_all_tweets.csv', '2017-18.csv', '2013-14.csv']
added csv: 08_09_all_tweets.csv
added csv: 09_10_all_tweets.csv
added csv: 10_11_all_tweets.csv
added csv: 11_12_all_tweets.csv
added csv: 21_22_all_tweets.csv
added csv: 12_13_skip3_tweets.csv
added csv: 19_20_all_tweets.csv
added csv: 20_21_all_tweets.csv
added csv: 14_15_all_tweets.csv
added csv: 18_19_all_tweets.csv
added csv: 2014-15.csv
added csv: 15_16_all_tweets.csv
added csv: 2017-18.csv
added csv: 2013-14.csv

In [36]:
large_df.shape

(2148604, 5)

In [37]:
large_df = large_df.drop_duplicates(subset='Text', keep='first')
large_df.shape

(1761590, 5)

In [59]:
def remove_punc(text):
    txt=text
    for punc in punctuation:
        txt = txt.replace(punc, " ")
    txt = txt.lower()
    return txt 

def remove_URL_and_HTML(row):
    row = re.sub(r'http.*$', "", row)
    row = re.sub(r'https.*$', "", row)
    return row

def remove_stopwords(row):
    row = word_tokenize(row)
    return ' '.join(w for w in row if not w in stop_words)

def preprocessing(col):
    col = col.astype(str)
    punctuation_list = col.apply(remove_punc)
    URL = punctuation_list.apply(remove_URL_and_HTML)
    word_tokens = URL.apply(remove_stopwords)                                           
    return word_tokens

In [60]:
test = preprocessing(large_df['Text'][0:10])
test

0                          express aces
1                   decided stay bridge
2                     sharks find teeth
3                      cooke pulls race
4           tancock washes peirsol away
5           darling plea business loans
6     safety sake skip playground games
7     broken marriages take toll health
8                 exercise beats cancer
9    soup water diet kills mum 14 weeks
Name: Text, dtype: object

In [61]:
large_df['preprocessed'] = preprocessing(large_df['Text'])

In [62]:
large_df.head()

,Unnamed: 0,Datetime,Tweet Id,Text,Unnamed: 4,preprocessed
0,0,2009-07-27 23:12:12+00:00,2879455640.0,Express aces http://bit.ly/EYVnw,NaN,express aces
1,1,2009-07-27 23:12:10+00:00,2879455191.0,Why I decided to stay at Bridge http://bit.ly/...,NaN,decided stay bridge
2,2,2009-07-27 23:12:08+00:00,2879454727.0,Sharks find their teeth http://bit.ly/q1u1P,NaN,sharks find teeth
3,3,2009-07-27 23:12:07+00:00,2879454325.0,Cooke's pulls out of race http://bit.ly/LWnJz,NaN,cooke pulls race
4,4,2009-07-27 23:12:05+00:00,2879453826.0,Tancock washes Peirsol away http://bit.ly/12BCMD,NaN,tancock washes peirsol away

In [63]:
large_df = large_df.drop_duplicates(subset='preprocessed', keep='first')

In [64]:
large_df.shape

(1183416, 6)

In [65]:
!pwd

/content

In [66]:
large_df.to_csv('large_df')