## Muslim tweets

In [6]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from bs4 import BeautifulSoup
import string
string.punctuation 
print (string.punctuation) 
stop_words = stopwords.words('english')
# -*- coding: utf-8 -*-
punctuation = [ c for c in string.punctuation ] + [u'\u201c',u'\u201d',u'\u2018',u'\u2019']
import matplotlib.pyplot as plt
import re

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jennatan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
# create list to append tweet data to
tweets_list = []

In [8]:
# params
keywords = 'muslim OR muslims OR hijab OR hijabi OR terrorism OR terrorist OR terrorists OR mosque OR mosques OR quran OR qoran OR islam OR islamic OR jihad OR jihadi OR eid OR ramadan OR iman'

In [9]:
%%time

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper(f'{keywords} from:TheSun OR from:DailyMailUK OR from:MailOnline OR from:Daily_Express').get_items()):
    if i>20:
        break
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.likeCount])
tweets_list

CPU times: user 82.3 ms, sys: 12.4 ms, total: 94.7 ms
Wall time: 1.56 s

[[datetime.datetime(2022, 6, 9, 18, 56, tzinfo=datetime.timezone.utc),
  1534972597259194368,
  "Fury at plans to turn Iconic 'Peaky Blinders' pub into mosque https://t.co/ppObchIItv https://t.co/3Hq47rDX1j",
  'Daily_Express',
  2],
 [datetime.datetime(2022, 6, 9, 16, 50, tzinfo=datetime.timezone.utc),
  1534940888299802632,
  "Fury at plans to turn Iconic 'Peaky Blinders' pub into mosque https://t.co/ppObchr74V https://t.co/99ETheAl1t",
  'Daily_Express',
  1],
 [datetime.datetime(2022, 6, 9, 14, 44, 41, tzinfo=datetime.timezone.utc),
  1534909353614000130,
  "Fury at plans to turn Iconic 'Peaky Blinders' pub into mosque https://t.co/ppObchIItv https://t.co/IMZt1RqYIs",
  'Daily_Express',
  4],
 [datetime.datetime(2022, 6, 9, 13, 30, 4, tzinfo=datetime.timezone.utc),
  1534890576197320709,
  'The Lady Of Heaven producer blasts Muslim protesters https://t.co/nXD5ZfBLRB',
  'DailyMailUK',
  9],
 [datetime.datetime(2022, 6, 9, 8, 40, 6, tzinfo=datetime.timezone.utc),
  1534817602601734144,
  'The Lady Of Heaven producer blasts Muslim protesters https://t.co/tCNyYY61NM',
  'DailyMailUK',
  80],
 [datetime.datetime(2022, 6, 9, 3, 0, 2, tzinfo=datetime.timezone.utc),
  1534732022752727041,
  "Sajid Javid warns cancelled screenings of 'blasphemous' Islamic film is 'a dangerous road to go down' https://t.co/Bs39la2A2P",
  'DailyMailUK',
  23],
 [datetime.datetime(2022, 6, 8, 21, 3, 6, tzinfo=datetime.timezone.utc),
  1534642195558543360,
  "Sajid Javid warns cancelled screenings of 'blasphemous' Islamic film is 'a dangerous road to go down' https://t.co/kDtCfBDDKu",
  'DailyMailUK',
  47],
 [datetime.datetime(2022, 6, 8, 20, 40, 12, tzinfo=datetime.timezone.utc),
  1534636435285884928,
  "Fury over plans to turn historic 'Peaky Blinders-style' pub into a mosque https://t.co/HvDGClSpDd",
  'DailyMailUK',
  8],
 [datetime.datetime(2022, 6, 8, 18, 31, 3, tzinfo=datetime.timezone.utc),
  1534603929564205056,
  "Fury over plans to turn historic 'Peaky Blinders-style' pub into a mosque https://t.co/r8pkcHUHrF",
  'DailyMailUK',
  1],
 [datetime.datetime(2022, 6, 8, 17, 59, 2, tzinfo=datetime.timezone.utc),
  1534595872310321154,
  "Sajid Javid warns cancelled screenings of 'blasphemous' Islamic film is 'a dangerous road to go down' https://t.co/luxt9Fv723",
  'DailyMailUK',
  93],
 [datetime.datetime(2022, 6, 8, 17, 35, 5, tzinfo=datetime.timezone.utc),
  1534589847591174147,
  "Sajid Javid warns cancelled screenings of 'blasphemous' Islamic film is 'a dangerous road to go down' https://t.co/ZC1M0dVymG",
  'MailOnline',
  728],
 [datetime.datetime(2022, 6, 8, 17, 19, 7, tzinfo=datetime.timezone.utc),
  1534585826906148868,
  "#MsMarvel Rish Shah pays sweet tribute to lead actress Iman Vellani \n'Utter delight'\n\nhttps://t.co/Y52adMbRnG",
  'Daily_Express',
  1],
 [datetime.datetime(2022, 6, 8, 15, 1, 45, tzinfo=datetime.timezone.utc),
  1534551259243487232,
  'Doctor who asked Muslim woman to remove veil found guilty of misconduct\n\nhttps://t.co/dRMbdk1YJN',
  'Daily_Express',
  3],
 [datetime.datetime(2022, 6, 8, 13, 50, 8, tzinfo=datetime.timezone.utc),
  1534533236814135301,
  "Defiant Vue refuses to stop screenings for 'blasphemous' Islamic history film The Lady Of Heaven https://t.co/eaZ6wxTOQ0",
  'DailyMailUK',
  58],
 [datetime.datetime(2022, 6, 8, 12, 25, 5, tzinfo=datetime.timezone.utc),
  1534511830936215552,
  "Showcase becomes latest chain to pull 'blasphemous' Islamic history film from cinemas https://t.co/tnc4BmA9JI",
  'MailOnline',
  4],
 [datetime.datetime(2022, 6, 8, 9, 0, 5, tzinfo=datetime.timezone.utc),
  1534460245094825985,
  "Cinema-goers hit out at 'ridiculous' protesters demanding Islamic history film is banned https://t.co/hAMTAW1Wpa",
  'DailyMailUK',
  8],
 [datetime.datetime(2022, 6, 8, 7, 12, 32, tzinfo=datetime.timezone.utc),
  1534433178097799169,
  "Cinema-goers hit out at 'ridiculous' protesters demanding 'blasphemous' Islamic history film The Lady Of Heaven is banned \nhttps://t.co/I1L8e2tMOp",
  'DailyMailUK',
  20],
 [datetime.datetime(2022, 6, 7, 18, 5, 7, tzinfo=datetime.timezone.utc),
  1534235018624647170,
  "Kansas 'ISIS mom' faces 20 years in prison after pleading guilty to terrorism charges https://t.co/txydMmNGIl",
  'MailOnline',
  24],
 [datetime.datetime(2022, 6, 7, 12, 20, 10, tzinfo=datetime.timezone.utc),
  1534148208234049539,
  "Pakistani Muslim primary school worker loses religious discrimination lawsuit she brought after boss called her a 'guinea pig' https://t.co/JuySRzAqcF",
  'MailOnline',
  18],
 [datetime.datetime(2022, 6, 5, 19, 8, 54, tzinfo=datetime.timezone.utc),
  1533526293937065984,
  "11 of UK's most dangerous terrorists will be freed this year\nhttps://t.co/uqBHUmEyrT",
  'TheSun',
  10],
 [datetime.datetime(2022, 6, 5, 13, 45, 51, tzinfo=datetime.timezone.utc),
  1533444994371051520,
  "11 of UK's most dangerous terrorists will be freed this year\nhttps://t.co/a5m9gFilTM",
  'TheSun',
  13]]

In [10]:
len(tweets_list)

21

In [11]:
# Creating a dataframe from the tweets list above
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username','Like Count'])
tweets_df.head(5)

,Datetime,Tweet Id,Text,Username,Like Count
0,2022-06-09 18:56:00+00:00,1534972597259194368,Fury at plans to turn Iconic 'Peaky Blinders' ...,Daily_Express,2
1,2022-06-09 16:50:00+00:00,1534940888299802632,Fury at plans to turn Iconic 'Peaky Blinders' ...,Daily_Express,1
2,2022-06-09 14:44:41+00:00,1534909353614000130,Fury at plans to turn Iconic 'Peaky Blinders' ...,Daily_Express,4
3,2022-06-09 13:30:04+00:00,1534890576197320709,The Lady Of Heaven producer blasts Muslim prot...,DailyMailUK,9
4,2022-06-09 08:40:06+00:00,1534817602601734144,The Lady Of Heaven producer blasts Muslim prot...,DailyMailUK,80

In [12]:
tweets_df.tail(10)

,Datetime,Tweet Id,Text,Username,Like Count
11,2022-06-08 17:19:07+00:00,1534585826906148868,#MsMarvel Rish Shah pays sweet tribute to lead...,Daily_Express,1
12,2022-06-08 15:01:45+00:00,1534551259243487232,Doctor who asked Muslim woman to remove veil f...,Daily_Express,3
13,2022-06-08 13:50:08+00:00,1534533236814135301,Defiant Vue refuses to stop screenings for 'bl...,DailyMailUK,58
14,2022-06-08 12:25:05+00:00,1534511830936215552,Showcase becomes latest chain to pull 'blasphe...,MailOnline,4
15,2022-06-08 09:00:05+00:00,1534460245094825985,Cinema-goers hit out at 'ridiculous' protester...,DailyMailUK,8
16,2022-06-08 07:12:32+00:00,1534433178097799169,Cinema-goers hit out at 'ridiculous' protester...,DailyMailUK,20
17,2022-06-07 18:05:07+00:00,1534235018624647170,Kansas 'ISIS mom' faces 20 years in prison aft...,MailOnline,24
18,2022-06-07 12:20:10+00:00,1534148208234049539,Pakistani Muslim primary school worker loses r...,MailOnline,18
19,2022-06-05 19:08:54+00:00,1533526293937065984,11 of UK's most dangerous terrorists will be f...,TheSun,10
20,2022-06-05 13:45:51+00:00,1533444994371051520,11 of UK's most dangerous terrorists will be f...,TheSun,13

In [8]:
tweets_df.iloc[800]['Text']

"Emmanuel Macron's party withdraws backing for Muslim candidate because she was pictured with her head covered https://t.co/QlyVQBsvfa"

In [11]:
tweets_df.to_csv('Muslim.csv')

In [13]:
tweets_df_copy = tweets_df.copy()

In [14]:
def remove_punc(text):
    txt=text
    for punc in punctuation:
        txt = txt.replace(punc, " ")
    txt = txt.lower()
    return txt 

def remove_URL_and_HTML(row):
    row = re.sub(r'https.*$', "", row)
    return row

def remove_stopwords(row):
    row = word_tokenize(row)
    return ' '.join(w for w in row if not w in stop_words)

def preprocessing(col):
    col = col.astype(str)
    punctuation_list = col.apply(remove_punc)
    URL = punctuation_list.apply(remove_URL_and_HTML)
    word_tokens = URL.apply(remove_stopwords)                                           
    return word_tokens

In [15]:
tweets_df_copy['preprocessed'] = preprocessing(tweets_df_copy['Text'])

In [19]:
tweets_df_copy['preprocessed'][1]

'fury plans turn iconic peaky blinders pub mosque'

In [1]:
tweets_df_copy = tweets_df_copy.drop_duplicates(subset='preprocessed', keep='first')

NameError: name 'tweets_df_copy' is not defined

In [35]:
tweets_df_copy.drop(columns=['preprocessed'], inplace=True)

/var/folders/ck/xg3scjhn503b00cjf3vysm3h0000gn/T/ipykernel_13356/3607406356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets_df_copy.drop(columns=['preprocessed'], inplace=True)

In [37]:
tweets_df_copy.to_csv('Roberta_Muslim.csv')